.color-fluid {
    background-color: #2C3E50;
    color: white;
}

.header-height {
    height: 3em;
}

.col-color {
    background-color: red;
} 

.jumbo-height {
    height: 500px;
}

.color-jumbo {
    background-color: #1ABC9C;
}

.col-height {
    height: 10em;
}

.img-height {
    height: 300px;
}

.row-height {
    height: 3em;
}

.main-height {
    height: 600px;
    color: royalblue;

}

.main-col-height {
    height: 100px;
}

.row-height-margin {
    height: 5em;
}