.color-fluid {
    background-color: #2C3E50;
    color: white;
}

.header-height {
    height: 3em;
}

.col-color {
    background-color: red;
} 

.jumbo-height {
    height: 500px;
}

.color-jumbo {
    background-color: #1ABC9C;
}

.col-height {
    height: 10em;
}

.img-height {
    height: 300px;
}

.row-height {
    height: 3em;
}

.main-height {
    height: 600px;
    color: royalblue;

}

.main-col-height {
    height: 200px;
}

.row-height-margin {
    height: 5em;
}

.margin {
    margin: 0px 10px;

}

.margin-top {
    margin-top: 5em;
}

.margin-main {
    margin-top: 10px;
}

.margin-right {
    margin-right: 5px;
}

.main-height2 {
    height: 500px;
}

.footer-color {
    background-color: #3A546D;
}

.footer-height {
    height: 200px;
}

.subfooter-height {
    height: 100px;
}

.subfooter-color {
    background-color: #2C3E50;
}